<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.com.stockapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:name=".view.tools.SAApplication"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:name=".view.activities.CheckInventoryActivity" />
        <activity android:name=".view.activities.InventoryActivity" />
        <activity android:name=".view.activities.LoginActivity" />
        <activity android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:name=".view.activities.InInventoryActivity" />
        <activity android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:name=".view.activities.OutInventoryActivity" />
        <activity android:name=".view.activities.EditGoodsActivity" />
        <activity
            android:name=".view.activities.HomeActivity"

            android:launchMode="singleTask"/>
        <activity android:name=".view.activities.MoreActivity" />
        <activity android:name=".view.activities.AddGoodsActivity" />
    </application>

</manifest>